<h4>Google Translate</h4>
        <hr width="100%">
        <div >
            <div id="google_translate_element"></div>
                <script type="text/javascript">
                    ////--><![CDATA[// ><!--
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({
                        pageLanguage: 'en',
                        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                        }, 'google_translate_element');
                    }
                    //--><!]]>
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </div>  
            <div><br><p>Having trouble understanding this page in English? Click the menu above to select your preferred language instead.</p>
            </div>
            <h4>Resources</h4>
            <hr width="100%">
                        <div>
                            <p>
                                <a class="text-decoration-none" href="https://helpdesk.pa.ucla.edu/otrs">Submit a New Helpdesk Request</a>
                            </p>
                            <p>
                                New to Physics &amp; Astronomy? 
                                <a class="text-decoration-none" href="{{site.baseurl}}/services-resources/computing-and-it-information-new-faculty-and-staff.html">Read our introductory guide to Computing and IT Support</a>                               
                            </p>
                            <p>
                                To configure MFA (multi-factor authentication) on your smart phone, tablet, or other device, 
                                <a class="text-decoration-none" href="https://www.it.ucla.edu/iamucla/enroll-multifactor">please follow these instructions from UCLA IT Services</a>
                            </p>
                            <p>
                                <a class="text-decoration-none" href="{{site.baseurl}}/helpdesk.html">Submit a New User Account request</a>
                            </p>
                            <!--
                            <p>
                                <a class="text-decoration-none" href="https://computing.pa.ucla.edu/webform/undergraduate-computer-lab-access-request">Submit an Undergraduate Computer Lab access request</a>
                            </p>
                            
                            <p>
                                <a class="text-decoration-none" href="https://twitter.com/ucla_pna_it">Computing and IT Support: Twitter</a>
                            </p>
                            -->
                            <p>
                                <a class="text-decoration-none" href="{{site.baseurl}}/services-resources/news.html">Computing and IT Support: Latest News</a>
                            </p>
                        </div>