<h4>Categories</h4> 
        <hr width="100%">
        <p><a href="/how-article-categories/e-mail"><span style="font-size: 18px;">E-Mail</span></a><br>
        <a href="/how-article-categories/e-mail"><span style="font-size: 18px;">Other</span></a><br>
        <a href="/how-article-categories/e-mail"><span style="font-size: 18px;">Printing</span></a><br>
        <a href="/how-article-categories/e-mail"><span style="font-size: 18px;">Software</span></a><br>
        <a href="/how-article-categories/e-mail"><span style="font-size: 18px;">User Accounts</span></a><br>
        <a href="/how-article-categories/e-mail"><span style="font-size: 18px;">VPN</span></a><br>
        <a href="/how-article-categories/e-mail"><span style="font-size: 18px;">Web</span></a><br>
        <a href="/how-article-categories/e-mail"><span style="font-size: 18px;">Wireless</span></a><br></p>