<h4>Categories</h4> 
        <hr width="100%">
        <p>
        <a href="{{site.baseurl}}/how-to-articles/user-accounts.html"><span style="font-size: 18px;">User Accounts</span></a><br>
        <a href="{{site.baseurl}}/how-to-articles/e-mail.html"><span style="font-size: 18px;">E-Mail</span></a><br>
        <a href="{{site.baseurl}}/how-to-articles//connecting-pna-vpn.html"><span style="font-size: 18px;">VPN</span></a><br>
        <a href="{{site.baseurl}}/how-to-articles/web.html"><span style="font-size: 18px;">Web</span></a><br>
        </p>