<div class="flex-container p-1 text-white text-left" > 
    <ol class="breadcrumb topbar-text">
    <li class="breadcrumb-item"><a href="https://www.ucla.edu/" class="remove-underline"><img src="{{site.baseurl}}/assets/images/logo_UCLA_white.png" class="ucla-logo" /></a></li>
    <li class="breadcrumb-item"><a href="https://www.college.ucla.edu/" class="remove-underline text-link">College</a></li>
    <li class="breadcrumb-item"><a href="https://www.physicalsciences.ucla.edu/" class="remove-underline text-link">Physical Sciences</a></li>
    <li class="breadcrumb-item"><a href="https://www.pa.ucla.edu/" class="remove-underline text-link">Physics & Astronomy</a></li>
    </ol>
</div>
<nav class="py-4 navbar navbar-expand-lg  auto-hiding-navbar navbar-light nav-bg">
     <div class="container">
       <p class="nav-logo1"><a class="navbar-brand" href=""><span class="first-letter">C</span><span class="other-letter">omputing </span>
        <span class="first-letter"> &</span> <br>
        <span class="letter-margin-left first-letter">I</span><span class="other-letter">nformation </span>
        <span class="first-letter"> S</span><span class="other-letter">ystems </span>
        <span class="first-letter"> G</span><span class="other-letter">roup</span>
         </a></p>
     </a></p>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ms-auto">
           <li class="nav-item">
             <a class="nav-link {% if page.url == '/' %}active{% endif %}" aria-current="page" href="{{site.baseurl}}/">Home</a>
           </li>
           <li class="nav-item">
             <a class="nav-link {% if page.url == '/helpdesk.html' %}active{% endif %}" href="{{site.baseurl}}/helpdesk.html">Helpdesk</a>
           </li>
           <li class="nav-item dropdown"> 
              <a class="nav-link dropdown-toggle {% if page.url contains 'services-resources' %}active{% endif %}" href="services-resources.html" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Services Resources
              </a>
              <!-- <ul class="dropdown-menu menu-dropdown" aria-labelledby="dropdownMenuLink"> -->
               <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                <li>
                                    <a class="text-decoration-none dropdown-item" href="{{site.baseurl}}/services-resources/services-resources.html" title="">Services & Resources</a>
                                </li>
                                <li>
                                    <a class="text-decoration-none dropdown-item" href="{{site.baseurl}}/services-resources/wireless.html" title="">Wireless Connectivity</a>
                                </li>
                                <!--
                                <li >
                                    <a class="text-decoration-none dropdown-item" href="{{site.baseurl}}/services-resources/labs.html" title="">Undergraduate Computer Labs</a>
                                </li>
                                -->
                                <li >
                                    <a class="text-decoration-none dropdown-item" href="{{site.baseurl}}/services-resources/printing.html" title="">Workgroup & Poster Printing</a>
                                </li>
                                <li >
                                    <a class="text-decoration-none dropdown-item" href="{{site.baseurl}}/services-resources/projectors.html" title="">Projectors</a>
                                </li>
                                <li >
                                    <a class="text-decoration-none dropdown-item" href="{{site.baseurl}}/services-resources/email.html" title="">Email</a>
                                </li>
                                 <li >
                                    <a class="text-decoration-none dropdown-item" href="{{site.baseurl}}/services-resources/vpn.html" title="">VPN/Remote Access</a>
                                </li>
                                <li >
                                    <a class="text-decoration-none dropdown-item" href="{{site.baseurl}}/services-resources/wiki.html" title="">Wiki Hosing</a>
                                </li>
                                <li >
                                    <a class="text-decoration-none dropdown-item" href="{{site.baseurl}}/services-resources/web.html" title="">Web Hosting & Development</a>
                                </li>
                                <li >
                                    <a class="text-decoration-none dropdown-item" href="{{site.baseurl}}/services-resources/helpdesk.html" title="">IT Helpdesk</a>
                                </li>
                                <li >
                                    <a class="text-decoration-none dropdown-item" href="{{site.baseurl}}/services-resources/download-volume-licensed-software.html" title="">Software Downloads</a>
                                </li>
              </ul>
           <li class="nav-item">
             <a class="nav-link {% if page.url == '/how-to-articles.html' %}active{% endif %}" href="{{site.baseurl}}/how-to-articles.html">How-To Articles</a>
           </li>
           <li class="nav-item">
             <a class="nav-link {% if page.url == '/internal.html' %}active{% endif %}" href="{{site.baseurl}}/internal.html">Internal</a>
           </li>
        </ul>
    </div>
  </div>
</nav>
