<h4>Services & Resources</h4>
                            <ul class="menu">
                                <li class="first leaf">
                                    <a href="{{site.baseurl}}/services-resources/wireless.html" title="">Wireless Connectivity</a>
                                </li>
                                <li class="leaf">
                                    <a href="{{site.baseurl}}/services-resources/printing.html" title="">Workgroup &amp; Poster Printing</a>
                                </li>
                                <li class="leaf">
                                    <a href="{{site.baseurl}}/services-resources/projectors.html" title="">Projectors</a>
                                </li>
                                <li class="leaf">
                                    <a href="{{site.baseurl}}/services-resources/email.html" title="">E-Mail</a>
                                </li>
                                <li class="leaf">
                                    <a href="{{site.baseurl}}/services-resources/vpn.html" title="">VPN/Remote Access</a>
                                </li>
                                <li class="leaf">
                                    <a href="{{site.baseurl}}/services-resources/wiki.html" title="">Wiki Hosting</a>
                                </li>
                                <li class="leaf">
                                    <a href="{{site.baseurl}}/services-resources/web.html" title="">Web Hosting &amp; Development</a>
                                </li>
                                <li class="leaf">
                                    <a href="{{site.baseurl}}/services-resources/helpdesk.html" title="">IT Helpdesk</a>
                                </li>
                                <li class="leaf">
                                    <a href="{{site.baseurl}}/services-resources/download-volume-licensed-software.html" title="">Software Downloads</a>
                                </li>
                            </ul>