<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Computing and Information Systems Group</title>
  
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom_bootstrap.css">
  <link rel="SHORTCUT ICON" href="{{site.baseurl}}/assets/images/favicon.ico" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/update.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- for collapse -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- for collapse -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
          <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
$(document).ready(function() {
  $(this).on("click", ".vpn-connection", function() {
    $(this).parent().find(".vpn-connection-info").toggle();
    $(this).find(".fa").toggleClass('active');

  });
});
</script> 
</head>
<body>
  {% include nav.html %}
  <!--
  {% if page.title == ''%} 
  <div class="container pt-0"> 
      <div class="col-12"></div> 
      <img src="assets/images/pab-building_1.jpg" height="50px" width=auto alt="..." class="img-fluid index-img"/>
  </div> 
  {% endif %}
  -->
  <div class="container pt-0">            
<div class="col-12"></div>
    <div class="row left-side">
        <div class="col-md-9">  
          {{ content }}                   
        </div>
      <div class="col-md-3 "> 
        <div class="right-side"> 
           {% if page.title == 'How to article' %}   
           {% include how-to-articles-categories.html %}
           {% endif %}
           {% include googleTranslateResource.html %}
        </div>

      </div>
    </div>
  </div>
   
</div>     
      
  
  {% include footer.html %}
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="{{site.baseurl}}/assets/js/main.js"></script>
</body>
</html>